.pre-nav{
  background-color: rgb(29, 28, 28);
  display: flex;
  color: rgb(155, 155, 155);
  justify-content: space-between;
  align-items: center;
  height: 45px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 4rem;
}
.pre-nav > div svg {
  fill: rgb(155, 155, 155);
  width:30px;
  height: 30px;
}
.pre-nav> div svg:hover {
  fill:white;
}
.pre-nav > div> a {
  text-decoration: none;
  color: rgb(189, 179, 179);
  padding: 1rem;
  position: relative;
}
.pre-nav > div >a > span {
  padding-left: 1.5rem;
}
.pre-nav > div > a > svg {
  position: absolute;
  top: 8px;
  left: 12px;
}
.pre-nav>div>a:hover, span:hover {
  color: white;
}
